/*@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ui.container {
        width: 723px;
        margin-left: auto !important;
        margin-right: auto !important;
    }



}*/
