﻿
/* GENERAL STYLES */
body {
    font-family: Verdana;
    background-color: #EAEAEA;
}

/* USER PROFILE STYLES */

    .user-wrapper .btn {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        margin: 5px;
    }

    .user-wrapper .description {
        padding: 25px;
        background-color: #fff;
    }
    .user-wrapper img {
        width:100%;
    }


/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}


/*!
 * Bootstrap Modal
css

 */
.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}
.popover   {
    background-color: #e74c3c;
    color: #ecf0f1;
    width: 120px;
}
.popover.right .arrow:after {
    border-right-color: #e74c3c;
}