::-webkit-scrollbar {
    display: none;
}

::scrollbar {
    display: none;
}
.ui.menu {
    background: #E8E6E6;
    border-bottom: red 3px solid;
}

.clear { clear: both; }
.img-circular{
    vertical-align: middle;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;

    -moz-border-radius: 15px;
    /*background: url(../images/slice/apple-icon.png) center no-repeat;*/
    background-color: darkred;
    background-position: center;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, .8);
     -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
     -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
}
.right-menu {
    position: relative;
    right: 20%;
}
#logo {
    position: relative;
    top: 5px;
    left: 20%;
}
.center{
    text-align: center;
}
.right-menu i {
    color: red;
}

.warContainer{
    height: 350px;
}
#container {
    position: relative;
    height: 350px;
    background-color: #E8E6E6;
    top: -22px;
    border-bottom: 3px solid #656363;

}
.label{
    height: 20px;
    margin-top: 5px;
    position: relative;
}
section {

    display: block;
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    top: 0;
}
#section-left {
    float: left;

    width: 25%;
    margin-left: 25%;
    height: 350px;
}
#section-right{

    float: left;

    width: 25%;
    height: 350px;
}
.TopicTop {
    position: relative;
    top: 100px;
}
/*.ui.active.progress .bar {
    position: relative;
    min-width: 100%;
}*/
.bar-left{

    transition-duration: 300ms;
    width:  100%;
}
.ui.progress > .label {
    margin-top: 3.2em;
    text-align: left;
}
/*.ui.progress{
    border: 0;
    padding: 0;
}*/
#bar1{
    float: right;
    background-color: #C1C1C1 !important;
}
#bar2{
    float: left;
    background-color: orangered !important;

}

button .btnColorleft{
    background-color: #28A9E0;
}
.warTextTime {
    position: relative;
    height: 100px;
    right: 38%;
    top: 10px;
    text-align: center;
}
#time{
    line-height: 1px;
    margin-top: -5px;
}

#warLogo {
    position: absolute;
    width: 100%;
    top: 162px;
    text-align: center;
}


.progress-bar {
    position: relative;
    border: #ccc solid 1px;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    line-height: 40px;
    vertical-align: middle;
    overflow: hidden;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.25);

}
.progress-bar .bar {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;

}
.progress-bar .bar span {
    position: absolute;
    display: block;
    width: 400px;
    height: 100%;
    text-align: center;
}
.progress-bar .bar.positive {
    background: #fff;
    left: 0;
    width: 70%;
    -webkit-animation: animate-negative 4s;
    animation: animate-negative 4s;

}
.progress-bar .bar.positive span {
    left: 0;
    color: whitesmoke;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;

}
.progress-bar .bar.negative {
    background: #C1C1C1;
    right: 0;
    width: 30%;
    -webkit-animation: animate-negative 4s;
    animation: animate-negative 4s;
}
.progress-bar .bar.negative span {
    right: 0;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;

}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}
@keyframes animate-positive {
    0% {
        width: 0%;
    }
}
@-webkit-keyframes animate-negative {
    0% {
        width: 100%;
    }
}
@keyframes animate-negative {
    0% {
        width: 100%;
    }
}
.ui.button{
    border-radius: 0;
}

.ui.buttons .button, .ui.buttons .or, .ui.button {
    font-size: 13px;
}
.submittedBy{
    position: relative;
    top: 35%;
    text-align: right;
    color: slategray;

}
.submittedBy  a:hover{
    cursor: pointer;
    color: #292929;
}
i {
    color: slategray;
}

.warAccordClass{
    display: none;

}
#warAccordion{
    position: relative;
    top: -1.5em;
}
.newWarAccord{
    display: block;
}
.myButton{
    z-index: 1000;
}
/** Style for the button & div **/
#myDiv {
    color:Green;
    background-color:#eee;
    border:2px solid #333;
    display:none;
    text-align:justify;
    position: relative;

}
#myDiv p {
    margin: 15px;
    font-size: 0.917em;
}

.ui.styled.accordion {
    width: 100%;
}
.ui.accordion .title .dropdown.icon, .ui.accordion .accordion .title .dropdown.icon {
    display: inline-block;
    float: right;

}
.ui.styled.accordion, .ui.styled.accordion .accordion {
    padding: 0 20% 0 24%;
    background: #E8E6E6;

}

.ui.accordion .active.content{
    height: 300px;

}
#warCommentSection{
    padding: 0 20% 0 20%;
    position: relative;
    height: 75%;
}


#leftContent{
    padding: 1% 1% 1% 1%;
    width: 50%;
    float: left;
}
#rightContent{
    padding: 1% 1% 1% 1%;
    width: 50%;
    float: right;
}
#commentedBox1{
    margin-top: 1.5em;
}
#commentedBox2{
    margin-top: 1.5em;
}
.text{
    margin-left: 15px;
    margin-top: 25px;
    margin-right: 15px;
}
.hide1{
    display:none;

}
.show1{
    display:block;
}
textarea {
    border-rAdius: 3px;
    overflow: auto;
    margin: 1em 1em 0em 1em;
    width: 90%;
}
.ui.textarea, .ui.form textarea {
    margin: 0em;
    height: 5em;
    min-height: 5em;
    max-height: 24em;
    border-radius: 5px;
}
.ui.cards > .card, .ui.card{
    margin: 0% 0% 0% 5%;
    background: #E8E6E6;
    width: 91%;
    z-index: 20;
}
.ui.form .field {
    margin: -1em 0em 0em;
    padding: 1px;
}
.ui.form .inline.fields {
    margin: .3em 0em 1em;
}

.ui.card > .content{
    margin: 15px 0px -20px 0px;
}
.ui.cards > .card > .content a, .ui.card > .content a {
    color: #009fda;
   padding: 10px;
}

.ui.cards > .card a, .ui.card a {
    padding: 3px;
    margin: 10px;

}

.ui.cards > .card, .ui.card{
    min-height: 180px;

}
.ui.dropdown{
    position: relative;
    z-index:1;
}

.ui.dropdown .menu{
    background: #E8E6E6;
    border-radius: 5px;
    z-index:99;
}
.ui.dropdown .menu > .item{

    z-index:999 ;
}
#btnSmash{
    border-radius: 10px;
    height: 29px;
    line-height: 7px;
    padding: 10px;
}

.action .reply1{
    border-radius: 5px;
    background-color: #B4B1B1;
    margin-left: 10px;
}

#loginContainer {
    position: relative;
    background: darkred;
    width: 100%;
    height: 350px;
    top: 0;
    vertical-align: middle;
    text-align: center;
}
.ui.modal > .content {
    display: table;
    text-align: center;
    font-size: 1em;
    line-height: 0.4;
    padding: 1rem;
    background: #F7F7F7;
}

.ui.image {
    padding: 5px;
}

h1, h2, h3 ,h4, h5, h6 {
    min-height: 1px;
    line-height: 25px;
}
.textLogin{
    position: relative;
    color: #ffffff;
    top: 2em;
    text-align: center;
}

.textLogin i.icon{

    font-size: 1.5em;
    color: white;
}
.ui.inverted.red.buttons .button, .ui.inverted.red.button {
    background-color: transparent;
    /* box-shadow: 0px 0px 0px 2px #ff695e inset !important; */
    color: #F7F7F7;
    margin: 10px;
    width: 230px;
    border: 2px solid #ffffff;
}

.loginBtn{
    margin: 10px;
}

#wrapper {
    display: table;
    table-layout: fixed;

    width:100%;
    height:20px;
    background-color:Gray;
}
#wrapper div {
    display: table-cell;
    height:100px;
}
#wrapper div button {
    width: 100%;
    margin: 5px 0 10px 0;
    height: 25px;
}
#one {

}
#two {

}
#three {
    background-color:red
}

.accordionDivider1{
    position: relative;
    float: left;
    width: 35%;
}
.middleBtn{
    position: relative;
    float: left;
    width: 30%;
}
.middleBtn .button{
    margin-top: 8px;
    width: 100%;
    background-color: #656363;
}
.middleBtn .button :hover :focus{
    width: 100%;
    background-color: #656363;
}
.accordionDivider2{
    position: relative;
    float: right;
    width: 35%;
}
/*bar custom CSS*/
.bar-con {
    margin-top: 31px;
    background-color:#28A9E0 ;
    height: 8px;
    margin-bottom: 1em;
}
.bar {
    float: left;
    height: 100%;
    width: 100%;
}
.bar-one .bar {
    background-color: #B7B5B5;
    transition: width ease-in 1s;
    -webkit-transition: width ease-in 1s;
    -moz-transition: width ease-in 1s;
    -o-transition: width ease-in 1s;
}
.bar-two .bar {
    background-color: #B7B5B5;
    transition: width ease-in-out 3s;
    -webkit-transition: width ease-in-out 3s;
    -moz-transition: width ease-in-out 3s;
    -o-transition: width ease-in-out 3s;
}
.bar-three .bar {
    background-color: #B7B5B5;
    transition: width cubic-bezier(0.72, 0.45, 0.9, 0.12) 4s;
    -webkit-transition: width cubic-bezier(0.72, 0.45, 0.9, 0.12) 4s;
    -moz-transition: width cubic-bezier(0.72, 0.45, 0.9, 0.12) 4s;
    -o-transition: width cubic-bezier(0.72, 0.45, 0.9, 0.12) 4s;
}

/*Custome bar css end*/

@media all and (device-width: 1024px){


    #section-left {
        float: left;
        width: 30%;
        margin-left: 20%;
    }
    #section-right {
        right: 0%;
        float: left;
        width: 30%;
    }
    #loginContainer {
        position: relative;
        background: darkred;
        width: 100%;
        height: 350px;
        top: 0;
    }
    #warCommentSection {
        padding: 0 4% 0 4%;
        position: relative;
        height: 100%;
    }
    .ui.cards > .card, .ui.card {
        min-height: 160px;

    }
}
@media all and (device-width: 960px){

    #section-left {
        float: left;
        width: 30%;
        margin-left: 20%;
    }
    #section-right {
        right: 0%;
        float: left;
        width: 30%;
    }
    #loginContainer {
        position: relative;
        background: darkred;
        width: 100%;
        height: 350px;
        top: 0;
    }
    #warCommentSection {
        padding: 0 4% 0 4%;
    }
    .ui.accordion .active.content{
        height: 300px;

    }
    .ui.cards > .card, .ui.card {
        min-height: 160px;
    }
}
@media all and (max-device-width: 412px){


    #section-left {
        float: left;
        width: 30%;
        margin-left: 20%;
        height: 350px;
    }
    #section-right {
        right: 0%;
        float: left;
        width: 30%;
        height: 350px;
    }
    #loginContainer {
        position: relative;
        background: darkred;
        width: 100%;
        height: 350px;
        top: 0;
    }
    .ui.accordion .active.content{
        height: 300px;

    }
    #warCommentSection {
        padding: 0 4% 0 4%;
    }
    .ui.cards > .card, .ui.card {
        min-height: 160px;
    }
}
@media all and (device-width: 1280px){


    #section-left {
        float: left;
        width: 30%;
        margin-left: 20%;
        height: 350px;
    }
    #section-right {
        right: 0%;
        float: left;
        width: 30%;
        height: 350px;
    }
    #warCommentSection {
        padding: 0 4% 0 4%;
    }

    #loginContainer {
        position: relative;
        background: darkred;
        width: 100%;
        height: 350px;
        top: 0%;
    }
    .ui.cards > .card, .ui.card {
        min-height: 160px;
    }
}
